@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    position: relative;
    min-height: 100vh;
    background-color: rgba(30, 30, 30, 0.9);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    color: black;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#00000080, #00000080),
        url(../ProyectoNivel/fondoesc.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.9;
}

:root {
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 6em;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.lilita-one-regular {
    font-family: 'Lilita One', sans-serif;
}

.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    color: #fff;
    font-size: 2.5rem;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

.category-moca {
    background-image: url('../../../img/juego2/niveles/nivel1/esc2.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-capuchino {
    background-image: url('../../../img/juego2/niveles/nivel1/esc1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-expreso {
    background-image: url('../../../img/juego2/niveles/nivel1/esc3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p::after {
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover {
    color: var(--primary-color);
}